---
import { Icon } from "astro-icon/components";
const today = new Date();
---

<footer class="px-4 pt-8 pb-24 bg-muted text-muted-foreground text-center border-t border-border">
  &copy; {today.getFullYear()} Harsh Devisha. All rights reserved.
  <div class="flex justify-center gap-4 mt-4">
    <a href="mailto:harshdevisha91@gmail.com" class="no-underline text-muted-foreground hover:text-foreground flex transition-colors">
      <span class="sr-only">Email me</span>
      <Icon name="lucide:mail" size={20} />
    </a>
    <a href="https://www.linkedin.com/in/harsh-devisha/" target="_blank" class="no-underline text-muted-foreground hover:text-foreground flex transition-colors">
      <span class="sr-only">Connect on LinkedIn</span>
      <Icon name="lucide:linkedin" size={20} />
    </a>
    <a href="https://github.com/lostcache" target="_blank" class="no-underline text-muted-foreground hover:text-foreground flex transition-colors">
      <span class="sr-only">Go to GitHub profile</span>
      <Icon name="lucide:github" size={20} />
    </a>
  </div>
</footer>
